*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    color: #eff5f6;
}

body{
   background-color: #030303;
    margin: 0;
}
/********************navebar*********************/
header{
   
    background-color: #030303;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 2px 240px rgb(223, 205, 180);
    z-index: 100;
    position: relative; 
}

header nav{
    display: flex;/*العناصر جمب بعض */
    justify-content: space-between;/*مشان يبعدوا عن بعض */
    align-items: center;/*نفس الصف*/
    width: 85%;
    margin: auto;
    height: 80px;
} 

header nav .logo{
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
}
header nav .logo span{
    color: rgb(226, 193, 145);
}
header nav .links{
    display: flex;/*جمب بعض*/
    
}
header nav .links li{
    position: relative;
    margin: 0 25px; 
    height: 80px;
    line-height: 80px;/*مشان يجوا بالنص*/
    list-style: none;
}
header nav .links li::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(226, 193, 145);
    transition: 0.3s;
}

header nav .links li:hover::after
{
    width: 100%;
}
header nav .links li a{
    color: #c8c6c6;
    font-size: 17px;
}
header nav .social-links a i{
    color: rgb(226, 193, 145);
    font-size: 24px;
    margin-left: 15px;
}
header nav .social-links a i:hover{
    color: #fff;
}
/******************** end navebar*********************/
/*********************hero section*************************/
.hero-sec{
    height: 100vh;
    overflow: hidden;
}
.hero-sec .contanier{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}
.hero-sec .contanier .div-text{
    width: 50%;
}
.hero-sec .contanier .div-text h1{
    color: #fff;
    font-size: 70px;
    margin-bottom: 10px;
}
.hero-sec .contanier .div-text span{
    font-size: 40px;
}
.hero-sec .contanier .div-text p{
    color: c8c6c6;
    font-size: 18px;
    margin: 10px 0px 50px;
    line-height: 1.7;
}
.hero-sec .contanier .div-text .btn{
   color: #fff;
   border: 1px solid rgb(226, 193, 145);
   background-color: rgb(226, 193, 145);
   padding: 14px 40px;
   border-radius: 5px;
   transition: 0.3s;
}
.hero-sec .contanier .div-text .btn:hover{
    background: transparent;
}

#btnMenu{
    display: none;
}
/********************* end hero section*************************/

/*********card**********/
.card {
    box-shadow: 0 5px 20px white;
    transition: 0.3s;
    width: 30%;
    line-height: 3;
  }
  
  .card:hover {
    box-shadow: 1px 8px 25px white;
  }
  
  .info{
    padding: 5px 30px;
   
  }

  .info p{
    font-size: x-small;
  }
  /*********end card**********/
/***************contact page*****************/

.contact-container {
    
    border-radius: 5px;
    background-color: #171616;
    padding: 10px;
    max-width: 700px; /* قم بتحديد الحد الأقصى للعرض */
    margin: 0 auto; /* لتوسيط العنصر */
    overflow: hidden; /
  }

  .intro-contact{
    text-align:center;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .intro-contact h2{
   font-size: 30px;
   margin-bottom: 20px;
   color:rgb(226, 193, 145)
  }

  input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px; 
  }
  
  input[type=submit] {
    background-color:rgb(226, 193, 145) ;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%; /* لجعل الزر يمتد على كامل العرض */
  }
  
  input[type=submit]:hover {
    background-color: rgb(230, 210, 179);
  } 

  .columnForm {
    width: 100%; 
    padding: 10px;
  }

  .columnForm input{
    margin-bottom: 30px;

  }
  
  
  
/***************end contact page*****************/
/****************skills page***********************/
#classification{
    padding: 25px 0 25px 0;
   
}
#title-skills{
    padding: 40px 0 ;
    text-align: center;
    font-size: 2rem;
    font-family: Verdana;
}
#classify-row{
    display: flex;
    padding: 0 100px 0 100px;
  
}
#classify-col{
    box-shadow: 2px 2px 2px #bbb;
    border: 1px solid #bbb;
    background-color: #0c110d;
    margin: 10px;
    padding: 10px;
    flex: 1;
    text-align: center;
}
#classify-col h2{
    background-color: rgb(226, 193, 145);
    color: #131111;
    text-align: center;
    padding: 5px;
    
}
#classify-col h5{
    margin-bottom: 10px;
    line-height: 25px;
    margin-top: 10px;
}
#image{
  
    margin:20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid rgb(24, 24, 23);
}
#image img{
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}



/*****************end skills page*****************/
/********************About page**********************/
.about-me{
    padding: 4% 10%;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 4rem;
}
.education{
    padding: 6% 0;
    max-width: 600px;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.7;
    margin-bottom: 60px;
    flex: 1;
}
.text-about{
    padding: 6% 0;
}
.about-me h4{
    color: burlywood;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.about-me h1{
    color: #bbb;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 30px;
}
.hr-about{
    width: 30%;
    border: none;
    height: 2px;
    background-color: burlywood;
    margin-bottom: 50px;
}
.text-about{
    max-width: 600px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 60px;
}
.last-text{
    display: flex;
}
.text1{
    margin-right: 60px;
}
.last-text h3{
    color: burlywood;
    font-size: 60px;
    font-weight: 700;
}
.last-text h5{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}

/******************end About page*********************/
/******************projects page*****************/
.contener-projects{
    align-items: center;
}
.projects-titel{
    color: #fff;
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
}

.project-description{

   line-height: 30px;

}

.container-projects {

    padding: 64px;
    
  }
  
  .row-projects:after {
    content: "";
    display: table;
    clear: both
  }
  
  .column-55 {
    float: left;
    width: 55.66666%;
    padding: 30px;
  }
  
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  
  .large-font {
    margin-bottom:15px ;
    font-size: 28px;
  }
  
  .xlarge-font {
    font-size: 54px
  }
  
  .button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: burlywood;
    margin-top: 40px;
  }
  
  video{
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  @media screen and (max-width: 1000px) {
    .column-55,
    .column-33 {
      width: 100%;
      text-align: center;
    }
    video,
    .portfolioImg{
      margin: auto;
    }
    .column-33 img{
        width: 50%;
        height: 20%;
    }
    .projects-titel{
        
        font-size: 30px;
    }
    .project-description{
        line-height: 20px;
     }
     .large-font {
       
        font-size: 18px;
      }
      
      .xlarge-font {
        font-size: 44px
      }
      .button {
       
        font-size: 10px;
       
      }
     
  }
/******************end projects page*****************/
/****************footer****************/

.footer-distributed{
    background-color: rgb(27, 26, 26);

   
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}


.footer-distributed i{
    margin-bottom: 8px;
    color: #ffff;
}

.contact a:hover{
color: rgb(226, 193, 145);
}

 
/******end footer**/


/*  Responsive */

@media (max-width : 888px) {
    header nav .links{
        position: absolute;
        top: 100%;
        right: -450px;
        flex-direction: column;
        background-color:rgb(0, 0, 0) ;
        border-left: 1px solid #444444a8;
        width: 400px;
        height: 100vh;
        z-index: 100;
        text-align: center;
        padding: 20px 0;
        transition: 0.3s;
    }
    header nav .links.active{
        right: 0;
    }
    
    .social-links{
        display: none;
    }
    #btnMenu{
        display: block;
        font-size: 30px;
    }
    .hero-sec{
        height: auto;
    }

    .hero-sec .contanier{
        flex-direction: column;
    }

    .hero-sec .contanier .div-text{
        width: 80%;
        margin-top:150px;
        margin-bottom: 60px;
        text-align: center;
    }

    .hero-sec .contanier .dic-img{
        position: relative;
        width: 50%;
    }

    .hero-sec .contanier .div-text h1{
    
        font-size: 50px;
   
    }

    .hero-sec .contanier .div-text span{
        font-size: 30px;
    }

    /*************Responsive card************/
   
      .card{
        line-height: 2;
        font-size: small;
        overflow: hidden; 
        box-shadow: 0px 3px 3px  white;
      }
      .info{
        padding: 5px 15px;
       
      }

    /*********end Responsive card************/

    /**********Responsive footer**********/
    
    footer{
        position: static;
    }

    .footer-distributed  
    {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center; 
       
    }

    /**********end Responsive footer**********/
    /**********Responsive skills page**********/

    #classify-row{
        flex-wrap: wrap;
        padding: 0 10px 0 10px;
    }
    /**********end Responsive skills page**********/
    

}

 /**********Responsive about page**********/
 @media(max-width:1385) {
 .about-me{
    padding: 4% 4%;
    transition: .3s;
 }
 .education{
    width: 500px;
    height: auto;
    transition: .3s;
 }
}
 @media(max-width:1240px){
    .text-about h1{
        font-size: 30px;
        transition: .3s;
    }
 }
 @media (max-width:1040px) {
    .about-me{
        flex-wrap: wrap;
        height: 100%;
      
    }
    .main-img img{
        padding-top: 40px;
    }
 }
 /**********end Responsive about page**********/

@media (max-width:437px)
{
    .hero-sec .contanier .div-text h1{
    
        font-size: 35px;
   
    }
    .hero-sec .contanier .div-text span{
        font-size: 25px;
    }
    .hero-sec .contanier .div-text p{
        font-size: 16px;
    }
    
}
/***************Responsive contact page*****************/
@media screen and (max-width: 700px) {
    .columnForm, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  @media screen and (max-width: 1147px) {
    .columnForm, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  /***************end Responsive contact page*****************/